<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Tsohasaitti</title>
		<link rel='stylesheet'  href='{{ STATIC_URL }}style.css' type='text/css'/>
	</head>
	<body>
		<div id="header"><h1>Drinkkiarkisto</h1></div>
		<div id="nav">
			<ul>
				<li><a href="/">P&auml;&auml;sivu<a></li>
				<li><a href="/add_recipes">Lis&auml;&auml; ohjeita</a></li>
				{% if user.is_authenticated %}
				    <li><a href="/logout">Kirjaudu ulos</a></li>
				{% else %}
                    <li><a href="/login_page">Kirjaudu sis&auml;&auml;n</a></li>
                {% endif %}
			</ul>
		</div>
		<div id="content">
			<div id="primary">
                <h3>Lis&auml;&auml; drinkkiohjeita</h3>
                <form action="/add/" method="post">{% csrf_token %}
                     <p><label>Drinkin nimi <input name="drink_name" maxlength="30"></label></p>
                     <p><label>Valmistusohje </label></p>
                     <p><textarea rows="5" cols="100" name="drink_recipe"></textarea></p>
                     <p><label>Juomalaji
                        <select name="drink_type">
                                   <option value="NULL"></option>
                        {% if drink_types %}              
                               {% for drink_type in drink_types %}
                                   <option value="{{drink_type.id}}">{{drink_type.type_name}}</option>
                               {% endfor %}
                        {% else %}
                             <option value="NULL">Ei juomatyyppej&auml;!!!</option>
                        {% endif %}
                        </select></label></p>
                     <p><label>Eka ainesosa
                     <select name="first_ingredient">
                                   <option value="NULL"></option>
                        {% if ingredients %}              
                               {% for ingredient in ingredients %}
                                   <option value="{{ingredient.id}}">{{ingredient.name}}</option>
                               {% endfor %}
                        {% else %}
                             <option value="NULL">Ei ainesosia!!!</option>
                        {% endif %}
                     </select></label>
                     <label>M&auml;&auml;r&auml;: <input name="first_amount" maxlength="10"></label></p>
                     <p><label>Toka ainesosa
                     <select name="second_ingredient">
                                   <option value="NULL"></option>
                        {% if ingredients %}              
                               {% for ingredient in ingredients %}
                                   <option value="{{ingredient.id}}">{{ingredient.name}}</option>
                               {% endfor %}
                        {% else %}
                             <option value="NULL">Ei ainesosia!!!</option>
                        {% endif %}
                     </select></label>
                     <label>M&auml;&auml;r&auml;: <input name="second_amount" maxlength="10"></label></p>
                     <p><label>Kolmas ainesosa
                     <select name="third_ingredient">
                                   <option value="NULL"></option>
                        {% if ingredients %}              
                               {% for ingredient in ingredients %}
                                   <option value="{{ingredient.id}}">{{ingredient.name}}</option>
                               {% endfor %}
                        {% else %}
                             <option value="NULL">Ei ainesosia!!!</option>
                        {% endif %}
                     </select></label>
                     <label>M&auml;&auml;r&auml;: <input name="third_amount" maxlength="10"></label></p>
                     <p><label>Nelj&auml;s ainesosa
                     <select name="fourth_ingredient">
                                   <option value="NULL"></option>
                        {% if ingredients %}              
                               {% for ingredient in ingredients %}
                                   <option value="{{ingredient.id}}">{{ingredient.name}}</option>
                               {% endfor %}
                        {% else %}
                             <option value="NULL">Ei ainesosia!!!</option>
                        {% endif %}
                     </select></label>
                     <label>M&auml;&auml;r&auml;: <input name="fourth_amount" maxlength="10"></label></p>                      
                      <p><button type="submit" value="Lisaa">Lis&auml;&auml;</button></p>
                </form>
			<div id="secondary">
                     {% if message %}
                        <div id="message"><h3>{{ message }}</h3></div>
                    {% endif %}
			<div>
		</div>
		
	</body>
</html>


