<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Tsohasaitti</title>
		<link rel='stylesheet'  href='{{ STATIC_URL }}style.css' type='text/css'/>
	</head>
	<body>
		<div id="header"><h1>Drinkkiarkisto</h1></div>
		<div id="nav">
			<ul>
				<li><a href="/">P&auml;&auml;sivu<a></li>
				<li><a href="/search">Hae ohjeita</a></li>
				<li><a href="/add">Lis&auml;&auml; ohjeita</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="primary">
                <h3>Hae drinkkiohjeita</h3>
                <form action="/search/" method="get">{% csrf_token %}
                     <p><label>Hakusana: <input name="search_parameter"></label></p>
                     <p><label>Mink&auml; perusteella search/haetaan
                        <select name="search_target">
                            <option value="ingredient">Aines</option>
                            <option value="drink_name">Nimi</option>
                        </select></label></p>
                      <p><button type="submit" value="Hae">Hae</button></p>
                </form>
			</div>
			<div id="secondary">
                 {% if drink %}              
                       {% for drink_name in drink %}
                           <li><a href="/recipes/{{ drink_name.drink.id }}/">{{ drink_name.name }}</a></li>
                           <p/>
                       {% endfor %}
                {% else %}
                    <p>Ei hakutuloksia</p>
                {% endif %}
			<div>
		</div>
	</body>
</html>


