<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Tsohasaitti</title>
		<link rel='stylesheet'  href='style.css' type='text/css'/>
	</head>
	<body>
		<div id="header"><h1>Drinkkiarkisto</h1></div>
		<div id="nav">
			<ul>
				<li><a href="/">P&auml;&auml;sivu<a></li>
				<li><a href="/hae">Hae ohjeita</a></li>
				<li><a href="/lisaa">Lis&auml;&auml; ohjeita</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="primary">
                <h3>Lis&auml;&auml; drinkki</h3>
                <form action="/hae" method="get">
                     <p><label>Nimi: <input></label></p>
                     <p><label>Juomalaji: <input></label></p>
                     <p><label>Mink&auml; perusteella haetaan
                        <select>
                            <option value="aines">Aines</option>
                            <option value="nimi">Nimi</option>
                        </select></label></p>
                      <p><button type="submit" value="Hae">Hae</button></p>
                </form>
			<div id="secondary">

			<div>
		</div>
		
	</body>
