<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Tsohasaitti</title>
		<link rel='stylesheet'  href='{{ STATIC_URL }}style.css' type='text/css'/>
	</head>
	<body>
		<div id="header"><h1>Drinkkiarkisto</h1></div>
		<div id="nav">
			<ul>
				<li><a href="/">P&auml;&auml;sivu<a></li>
				<li><a href="/add_recipes">Lis&auml;&auml; ohjeita</a></li>
				{% if user.is_authenticated %}
				    <li><a href="/logout">Kirjaudu ulos</a></li>
				{% else %}
                    <li><a href="/login_page">Kirjaudu sis&auml;&auml;n</a></li>
                {% endif %}
			</ul>
		</div>
		<div id="content">
			<div id="primary">
                <h3>Hae drinkkiohjeita</h3>
                <form action="/login/" method="post">{% csrf_token %}
                     <p><label>K&auml;ytt&auml;j&auml;tunnus <input name="username" maxlength="10"></label></p>
                     <p><label>Salasana <input type="password" name="password" maxlength="10"></label></p>
                     <p><button type="submit" value="Kirjaudu">Kirjaudu</button></p>
                </form>
			</div>
			<div id="secondary">
                {% if message %}
                            <div id="message"><h3>{{ message }}</h3></div>
                {% endif %}
			<div>
		</div>
	</body>
</html>


