<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Tsohasaitti</title>
		<link rel='stylesheet'  href='http://pure-robot-5569.herokuapp.com/static/style.css' type='text/css'/>
	</head>
	<body>
		<div id="header"><h1>Drinkkiarkisto</h1></div>
		<div id="nav">
			<ul>
				<li><a href="/">P&auml;&auml;sivu<a></li>
				<li><a href="/add_recipes">Lis&auml;&auml; ohjeita</a></li>
				{% if user.is_authenticated %}
				    <li><a href="/logout">Kirjaudu ulos</a></li>
				{% else %}
                    <li><a href="/login_page">Kirjaudu sis&auml;&auml;n</a></li>
                {% endif %}
			</ul>
		</div>
		<div id="content">
			<div id="primary">
                {% if drink %}
                <div id="recipeView">
                        <p><h3>Drinkin nimet</h3></p>
                       {% for drink_name in drink_names %}
                           <li><p>{{ drink_name.name }}</p></li>
                       {% endfor %}
                       <p><h3>Valmistusohje</h3></p>
                       <p>{{drink.recipe}}</p>
                       <p><h3>Juomatyyppi</h3></p>
                       <p>{{ drink.drink_type }}</p>
                       <p><h3>Ainesosat</h3></p>
                       {% for amount in amounts %}
                           <li><p>{{ amount.ingredient.name }} {{ amount.amount }}</p></li>
                       {% endfor %}

                {% else %}
                    <p>Juoman ohjetta ei saatu ladattua!!!</p>
                </div>
                {% endif %}
			</div>
			<div id="secondary">

			<div>
		</div>
	</body>
</html>


