<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Tsohasaitti</title>
		<link rel='stylesheet'  href='{{ STATIC_URL }}style.css' type='text/css'/>
	</head>
	<body>
		<div id="header"><h1>Drinkkiarkisto</h1></div>
		<div id="nav">
			<ul>
				<li><a href="/">P&auml;&auml;sivu<a></li>
				<li><a href="/search">Hae ohjeita</a></li>
				<li><a href="/add">Lis&auml;&auml; ohjeita</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="primary">
                {% if drink %}
                       {% for drink_name in drink_names %}
                           <li><p>{{ drink_name.name }}</></li>
                       {% endfor %}
                       <p>{{drink.recipe}}</p>
                    <p>{{ drink.drink_type }}</p>
                       {% for amount in amounts %}
                           <li><p>{{ amount.ingredient.name }} {{ amount.amount }}</p></li>
                       {% endfor %}

                {% else %}
                    <p>Juoman ohjetta ei saatu ladattua!!!</p>
                {% endif %}
			</div>
			<div id="secondary">

			<div>
		</div>
	</body>
</html>


