body {
    text-align: center
}

#nav {
    margin-left: auto; 
    margin-right: auto;
    padding-top:0;
    list-style:none;
    height:30px;
    background:-moz-linear-gradient(52% 85% 90deg, #FFFFFF, #000000 100%)
}


ui {

    display:inline;
        margin-top:2px;
}

li {
    display:inline;
    margin:2px;
}

li > a {
    text-decoration:none;
    padding:15px 0px;
    color:#000000;
}

a:hover   {
    color:white;
    }
    
p > label {
    text-align:right;
    }

div#message {
    border:solid 2px #000000;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 50%;
	margin:0px auto;
}

div#recipeView {
    border:dotted 2px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 50%;
	margin:0px auto;
	background-color: #876987;
}

div#resultsView {
    border:dotted 2px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    width: 50%;
	margin:0px auto;
	background-color: #876987;
}
